.menu {
  padding: 5px 0;
  border-radius: 5px;
  background: white;
  position: fixed;
  border: 1px solid black;

  .menuItem {
    cursor: pointer;
    padding: 0 5px;

    &.separator + .menuItem {
      border-top: 1px solid black;
    }

    &:hover {
      background-color: var(--main-color);
      color: white;

      &.disabled {
        background: white;
        color: var(--main-color);
      }
    }
  }
}
